# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore crash log files
crash.log

# Ignore Terraform variables files
PBL/.terraform/
# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore .terraform directory
.terraform/
*.tfstate.backup
# Ignore .terraform.lock.hcl file
.terraform.lock.hcl
